.home{
    overflow: hidden;
    height: 100vh;
    background: url(..\assets\img\bc.png);
    background-size: 100%;
  }
  .home /deep/ .el-card{
    border: none
  }
  .home /deep/ .el-menu{
    border: none
  }
  .home /deep/ .box-card{
    background: rgba(11,53,115,0.2);
  }
        /* dialog样式 */
  .home /deep/ .box-card /deep/ .el-dialog__header{
      background: #19437e;
      padding:10px;
  }
  .home /deep/ .box-card /deep/ .el-dialog__title{
      color: #fff;
  }
    .home /deep/ .box-card /deep/ .el-dialog__body{
        background: #143666;
        color: #fff;
    }
    .home /deep/ .box-card /deep/ .el-dialog__footer{
        background: #143666;
    } 
    /* .home /deep/ .el-dialog__body .el-form{
      text-align: center;
    }  */
    .home /deep/ .el-form /deep/ .el-input__inner{
      color: #fff
    } 
    
    .el-table /deep/ thead{
        color: #15d3da !important;
       
    }
    .el-table td{
      padding: 5px 0;
    }
    .el-table tr{
      height: 20px;
    }
    .organTree .el-tree-node__content:hover{
        background: none;
    }
    .organTree .el-tree .el-tree-node__content{
        color: #fff;
    }
    .organTree .el-tree-node:focus > .el-tree-node__content {
        background-color: transparent !important;
      }
      .organTree .el-tree-node:hover > .el-tree-node__content {
        background-color: transparent !important;
        color: #15d3da;
      }

      .organTree .el-tree-node > .el-tree-node__content .is-current{
        background-color: transparent !important;
        color: #15d3da;
      }


    
  
  .tablebox /deep/ .el-table__body-wrapper::-webkit-scrollbar {
    width: 6px; 
    height: 6px; 
  }
  
  .tablebox /deep/ .el-table__body-wrapper::-webkit-scrollbar-thumb {
    background: #0bb6cf;
    border-radius: 5px;
  }
 
  .tablebox /deep/ .el-table__body-wrapper::-webkit-scrollbar-track {/*滚动条里面轨道*/
            
    border-radius: 10px;
    background: #1b4887;
}